@font-face{
    font-family:'Playfultime';
    src: url('../fonts/PlayfulTime-BLBB8.ttf') format('truetype');
    font-style: 'bold';
}

@font-face{
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Bold.ttf') format('truetype');
    font-style: 'bold';
}

@font-face{
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Italic.ttf') format('truetype');
    font-style: 'italic';
}

@font-face{
    font-family:'RobotoMono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
    font-style: 'normal';
}