body{
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.main-box {
    
   
    border-style: solid;

    border-width: 10px;

    border-color: rgb(145, 24, 226);

    padding: 30px;

    background : rgba(56, 53, 53, 0.411);

    width: 85%;

    margin: auto;
}

div.align{
    text-align: center;
}

.sub-box{
    
    width:50%;

    padding: 100px;

    margin: auto;

    border-bottom: 1px rgb(56, 53, 53, 0.411);

    border-left: 2px red;

    border-right: 2px blue;

    border-spacing: inherit;


}

#main-header{

    position: relative;

    left: 20px;

    top:5px;

    color: rgba(10, 8, 8, 0.411);

    opacity: .75;

    font-size: 60px;

}